<template>
    <div id="shading-words-model">
        <el-dialog v-model="dialogVisible" :title="modelInfo.title" width="420px" @close="handleClose" v-bind="$attrs">
            <el-form ref="ruleFormRef"
                v-if="dialogVisible"
                :model="formLabelAlign"
                :rules="rules"
                label-width="120px">
                <el-form-item label="商品类型" prop="type">
                    <el-select v-model="modelInfo.type" :disabled="true">
                        <el-option label="普通" :value="'general'" />
                        <el-option label="秒杀" :value="'superDeal'" />
                        <el-option label="拼购" :value="'shareBuy'" />
                    </el-select>
                </el-form-item>
                <el-form-item :label="modelInfo.labelText" prop="ids">
                    <el-input v-model="formLabelAlign.ids" :placeholder="modelInfo.placeholderText" />
                </el-form-item>
                <span class="tips">支持批量录入，中间英文','分隔</span>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="handleClose">取消</el-button>
                    <el-button type="primary" @click="handleConfirm(ruleFormRef)">添加</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script setup lang="ts">
import { ref, reactive } from "vue";
import type { FormInstance, FormRules } from 'element-plus';

type PromoType = "general" | "superDeal" | "shareBuy" // 普通 | 秒杀 | 拼购

interface ModelInfoType {
    type: PromoType;
    title: string;
    labelText: string;
    placeholderText: string;
}

type PromoModelForm = {
    type: string;
    ids: string;
};

// 继承对象声明
type RecordInfo<T extends PromoType, P> = {
    [K in T]: P;
};

interface IEmits {
    (event: 'on-success', data: PromoModelForm, type: PromoType): void;
    (event: 'on-failed', data: PromoModelForm, type: PromoType): void;
}

const dialogVisible = ref<boolean>(false);

const initModel = (type: PromoType = 'general') => {
    const data: RecordInfo<PromoType, ModelInfoType> = {
        general: {
            type: "general",
            title: "添加普通商品",
            labelText: "SKU ID",
            placeholderText: "请输入SKU ID, 中间英文','分隔"
        },
        superDeal: {
            type: "superDeal",
            title: "添加秒杀商品",
            labelText: "ERP促销码",
            placeholderText: "请输入ERP促销码, 中间英文','分隔"
        },
        shareBuy: {
            type: "shareBuy",
            title: "添加拼购商品",
            labelText: "拼购ID",
            placeholderText: "请输入拼购ID, 中间英文','分隔"
        }
    };

    return data[type];
};

const ruleFormRef = ref<FormInstance>();
const modelType = ref<PromoType>('general');
const modelInfo = ref<ModelInfoType>(initModel());

const initialFormData = {
    type: "",
    ids: ""
};

const formLabelAlign = reactive<PromoModelForm>({
    ...initialFormData,
});

const emits = defineEmits<IEmits>();

const resetForm = () => {
    ruleFormRef.value?.resetFields();
    Object.assign(formLabelAlign, initialFormData);
};


const rules = reactive<FormRules>({
    ids: [
        { required: true, message: '必填', trigger: 'blur' },
    ]
})

const openDialog = (type: PromoType = 'general') => {
    console.log("type", type);
    modelType.value = type;
    modelInfo.value = initModel(type);
    dialogVisible.value = true;
};

const handleConfirm = async (formEl: FormInstance | void) => {
    if (!formEl) return;
    await formEl.validate((valid, fields) => {
        if (valid) {
            console.log(
                `click confirm, model type is ${modelType.value}.`,
                formLabelAlign,
            );
            emits('on-success', { ...formLabelAlign }, modelType.value);
            dialogVisible.value = false;
        } else {
            console.log('error submit', fields);
            emits('on-failed', formLabelAlign, modelType.value);
        }
    });
};

const handleClose = () => {
    resetForm();
    dialogVisible.value = false;
};


defineExpose({
    openDialog,
    dialogVisible
})
</script>

<style lang="scss" scoped>
#shading-words-model {
    .el-form-item{
        .el-select {
            width: 100%;
        }
        display: inherit;
        :deep(label) {
            display: inherit;
            color: #1F2329;
        }
        :deep(.el-form-item__error) {
            position: static;
        }
        &:nth-last-of-type(1) {
            margin-bottom: 0;
        }
        :deep(.el-form-item__label){
            text-align: left;
        }
    }
    .tips {
        display: block;
        margin-top: 4px;
        font-size: 12px;
        line-height: 20px;
        color: #999EA7;
        text-align: left;
    }
}
</style>

