<template>
    <div id="allocation-model">
        <el-dialog
            v-model="dialogVisible"
            :title="modelInfo.title"
            width="420px"
            :before-close="handleClose"
        >
            <p class="label">
                <span class="title">ERP添加人员</span>
                <span class="tips" v-if="!props.multiple">
                    <el-icon><Warning /></el-icon>
                    只能添加1人
                </span>
            </p>
            <el-select
                :multiple="props.multiple"
                filterable
                remote
                v-model="staff"
                :remote-method="remoteMethod"
                :loading="loading"
                :reserve-keyword="false"
                @change="handleChange"
                @visible-change="visibleChange"
                placeholder="搜索成员姓名/ERP"
            >
                <el-option
                    v-for="item in staffList"
                    :key="item.erp"
                    :label="item.name"
                    :value="item.erp"
                >
                    <div class="allocation-item">
                        <img :src="item.logo" class="logo" />
                        <div class="item-r">
                            <p class="name">{{ item.name }}</p>
                            <p class="info">
                                <span class="erp">{{ item.erp }}/</span>
                                <span class="department">{{
                                    item.department
                                }}</span>
                            </p>
                        </div>
                    </div>
                </el-option>
                <template #empty>
                    <div class="no-data-content">
                        <div class="loading-content" v-if="loading">
                            <img
                                src="../../assets/images/homeManage/loading.gif"
                                alt=""
                            />
                            <span class="text">搜索中</span>
                        </div>
                        <div class="empty-content" v-else>
                            <img
                                src="../../assets/images/homeManage/empty.png"
                                alt=""
                            />
                            <span class="text">无搜索结果</span>
                        </div>
                    </div>
                </template>
            </el-select>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="handleClose">取消</el-button>
                    <el-button
                        type="primary"
                        :disabled="staff.length === 0"
                        @click="handleConfirm"
                        >分配</el-button
                    >
                </span>
            </template>
        </el-dialog>
    </div>
</template>

<script lang="ts" setup>
import { ref, defineProps } from 'vue';
import { Warning } from '@element-plus/icons-vue';

type AllocationType = "allocation" | "transfer" // 分配运营 | 转让权限

interface ModelInfoType {
    type: AllocationType;
    title: string;
}

// 继承对象声明
type RecordInfo<T extends AllocationType, P> = {
    [K in T]: P;
};

interface TData {
    [k: string]: any;
}

interface IEmits {
    (event: 'on-success',  type: AllocationType): void;
    (event: 'on-failed', type: AllocationType): void;
}

const emits = defineEmits<IEmits>();

const initModel = (type: AllocationType = 'allocation') => {
    const data: RecordInfo<AllocationType, ModelInfoType> = {
        allocation: {
            type: "allocation",
            title: "分配运营"
        },
        transfer: {
            type: "transfer",
            title: "转让权限"
        }
    };

    return data[type];
};



    // const typeMap = {
//     // // allocation => 分配运营 transfer => 转让权限
//     allocation: 1,
//     transfer: 2,
// };
const dialogVisible = ref<Boolean>(false);
const modelType = ref<AllocationType>("allocation");
const modelInfo = ref<ModelInfoType>(initModel());

const staff = ref<string[]>([]);
let staffList = ref<IStaffItem[]>([]);
const loading = ref<Boolean>(false);

interface IStaffItem {
    logo: string;
    name: string;
    erp: string;
    department: string;
}


const props = defineProps({
    type: {
        type: [String, Number],
        default: 1,
    },
    multiple: {
        type: Boolean,
        default: false,
    },
});
// const emit = defineEmits(['success']);


const openDialog = (type: AllocationType = "allocation", data?: TData) => {
    console.log("type", type);
    modelType.value = type;
    modelInfo.value = initModel(type);
    dialogVisible.value = true;
};

const remoteMethod = (query: string) => {
    console.log('query', query);
    if (query) {
        loading.value = true;
        setTimeout(() => {
            // TODO 通过query获取人员信息
            loading.value = false;
            staffList.value = [
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'shenjiayu6',
                    name: '申佳玉',
                    department: '国际业务部-产品体验设计部',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'shenli',
                    name: '沈丽',
                    department: '国际业务部-产品体验设计部-1',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'zhengquanhao',
                    name: '郑权浩',
                    department: '国际业务部-前端',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'shenjiayu1',
                    name: '申佳玉1',
                    department: '国际业务部-产品体验设计部',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'shenli1',
                    name: '沈丽1',
                    department: '国际业务部-产品体验设计部-1',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'zhengquanhao1',
                    name: '郑权浩1',
                    department: '国际业务部-前端',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'shenjiayu2',
                    name: '申佳玉2',
                    department: '国际业务部-产品体验设计部',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'shenli2',
                    name: '沈丽2',
                    department: '国际业务部-产品体验设计部-1',
                },
                {
                    logo: '//img10.jd.co.th/n11/jfs/t61/358/1270181225/103469/642b542b/62fa26a8Nde9fee13.png',
                    erp: 'zhengquanhao2',
                    name: '郑权浩2',
                    department: '国际业务部-前端',
                },
            ];
        }, 2000);
    } else {
        staffList.value = [];
    }
};

// 选择完成后把列表数据清空
const handleChange = (): void => {
    staffList.value = [];
};

// 取消选择时数据列表清空
const visibleChange = (flag: Boolean) => {
    if (!flag) {
        staffList.value = [];
    }
};

const handleConfirm = () => {
    // TODO 提交逻辑
    console.log('提交逻辑');
    console.log('staff', staff.value);
    emits("on-success", modelType.value);
};

const handleClose = () => {
    staff.value = [];
    dialogVisible.value = false;
};

defineExpose({
    dialogVisible,
    handleClose,
    openDialog
});
</script>

<style lang="scss"></style>
<style lang="scss" scoped>
#allocation-model {
    .label {
        margin-bottom: 8px;
        .title {
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #1f2329;
            margin-right: 4px;
        }
        .tips {
            color: $g-font-color-secondary;
            font-size: 12px;
            i {
                position: relative;
                top: 2px;
                font-size: 14px;
            }
        }
    }
    .el-select {
        width: 100%;
        :deep(.el-tag) {
            color: #1f2229;
            i {
                color: #acb3ca;
            }
            .el-tag__close:hover {
                background-color: inherit;
            }
        }
    }
}
.el-select-dropdown__item {
    height: auto !important;
    padding: 12px 24px;
    .allocation-item {
        display: flex;
        img {
            width: 38px;
            height: 38px;
            margin-right: 6px;
            border-radius: 50%;
        }
        .item-r {
            .name {
                margin-bottom: 4px;
                line-height: 20px;
                font-weight: 600;
                font-size: 14px;
                color: #373b44;
            }
            .info {
                max-width: 280px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: $g-font-color-secondary;
            }
        }
    }
}
.el-select-dropdown {
    .no-data-content {
        height: 320px;
        display: flex;
        justify-content: center;
        align-items: center;
        .loading-content {
            img {
                position: relative;
                top: 3px;
                width: 16px;
                height: 16px;
                margin-right: 8px;
            }
            .text {
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                color: #1f2329;
            }
        }
        .empty-content {
            display: flex;
            flex-direction: column;
            img {
                width: 110px;
                height: 98px;
                margin-bottom: 6px;
            }
            .text {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $g-font-color-secondary;
            }
        }
    }
}
</style>
