<template>
    <el-date-picker
        v-model="value"
        :placeholder="placeholder"
        :v-bind="$attrs"
        @change="handleChange"
        :prefix-icon="DateIcon"
        :clear-icon="CloseIcon"
    />
</template>

<script lang="ts" setup>
import { defineProps, defineEmits, computed, withDefaults } from 'vue';
import DateIcon from './DateIcon.vue';
import CloseIcon from './CloseIcon.vue';

type dateType = string | Date | Array<Date> | Array<string>

interface Props {
    value?: dateType;
    readonly?: boolean;
    disabled?: boolean;
    editable?: boolean;
    clearable?: boolean;
    size?: string;
    placeholder?: string;
    format?: string;
}

interface Emits {
    (e: 'update:value', value: dateType): void;
    (e: 'handleChange', value: dateType): void;
}

const props = withDefaults(defineProps<Props>(), {
    value: '',
    readonly: false,
    disabled: false,
    editable: false,
    clearable: true,
    size: 'default',
    placeholder: '',
    format: 'YYYY-MM-DD HH:mm:ss',
});

const emit = defineEmits<Emits>();

const value = computed<dateType>({
    get() {
        return props.value;
    },
    set(value: dateType) {
        emit('update:value', value);
    },
});

const handleChange = (value: dateType) => {
    emit('handleChange', value);
};
</script>

<style lang="scss" scoped></style>
