<template>
    <div class="pagination-container" :class="{ hidden: hidden }">
        <el-pagination
            :background="background"
            v-model:current-page="currentPage"
            v-model:page-size="pageSize"
            :layout="layout"
            :page-sizes="pageSizes"
            :pager-count="pagerCount"
            :total="total"
            :v-bind="$attrs"
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
        />
    </div>
</template>

<script setup lang="ts">
import { computed, defineEmits, withDefaults, defineProps } from 'vue';
import { scrollTo } from '@/utils/scroll-to';
import { TPaginationParam } from './types';

interface IProps {
    total: number;
    page?: number;
    limit?: number;
    pageSizes?: number[];
    pagerCount?: number;
    layout?: string;
    background?: boolean;
    autoScroll?: boolean;
    hidden?: boolean;
}

interface IEmits {
    (event: 'update:page', val: number): void;
    (event: 'update:pageSize', val: number): void;
    (event: 'pagination', param: TPaginationParam): void;
}

const props = withDefaults(defineProps<IProps>(), {
    total: 0,
    page: 1,
    limit: 10,
    pageSizes: () => [10, 20, 30, 50],
    pagerCount: 7,
    layout: 'total, prev, pager, next, sizes, jumper',
    background: true,
    autoScroll: true,
    hidden: false,
});

const emits = defineEmits<IEmits>();

const currentPage = computed<number>({
    get() {
        return props.page;
    },
    set(val: number) {
        emits('update:page', val);
    },
});

const pageSize = computed<number>({
    get() {
        return props.limit;
    },
    set(val: number) {
        emits('update:pageSize', val);
    },
});

// 更新页码
function handleCurrentChange(val: number) {
    emits('pagination', { page: val, limit: pageSize.value });
    if (props.autoScroll) {
        scrollTo(0, 800);
    }
}

// 更新每页显示数
function handleSizeChange(val: number) {
    emits('pagination', { page: currentPage.value, limit: val });
    if (props.autoScroll) {
        scrollTo(0, 800);
    }
}
</script>

<style lang="scss">
.pagination-container {
    background-color: #fff;
    &.hidden {
        display: none;
    }
}
</style>
