<template>
  <section style="padding-top:1rem;margin-top:2rem;">
    <h3>
      <a href="javascript:;"></a>
      评 论：
    </h3>
    <div id="vcomments"></div>
  </section>
</template>
<script>
export default {
    name: 'Valine',
    mounted: function () {
        this.createTag();
        // require window
        const Valine = require('valine');
        if (typeof window !== 'undefined') {
            document.getElementsByClassName('leancloud-visitors')[0].id
            = window.location.pathname
            this.window = window
            window.AV = require('leancloud-storage')
        }
        new Valine({
            el: '#vcomments',
            appId: 'YSmKE5rjutLatWn42sGouB01-gzGzoHsz',// your appId
            appKey: 'amzhB2S5RrTsm5nADaRt8zHw', // your appKey
            notify: false,
            verify: false,
            path: window.location.pathname,
            visitor: true,
            avatar: 'mm',
            placeholder: '٩(◕‿◕｡)۶发表你的想法~',
            // 设置Bilibili表情包地址
            // emojiCDN: 'https://mirrorcdn.bili33.top/',
            // // 表情title和图片映射
            // emojiMaps: {
            //     "bilibilitv2": "bilibilitv/[tv_doge].png",
            //     "bilibilitv3": "bilibilitv/[tv_亲亲].png",
            //     "bilibilitv4": "bilibilitv/[tv_偷笑].png",
            //     "bilibilitv5": "bilibilitv/[tv_再见].png",
            //     "bilibilitv6": "bilibilitv/[tv_冷漠].png",
            //     "bilibilitv7": "bilibilitv/[tv_发怒].png",
            //     "bilibilitv8": "bilibilitv/[tv_发财].png",
            //     "bilibilitv9": "bilibilitv/[tv_可爱].png",
            //     "bilibilitv10": "bilibilitv/[tv_吐血].png"
            // }
        });
    },
    methods: {
        createTag () {
            let dateTag = document.querySelector(".page-title .iconfont.reco-date");
            let visitorsTag = document.createElement("span");
            let str = `<span class="leancloud-visitors iconfont reco-eye" data-flag-title="Your Article Title">
                <span class="post-meta-item-text">阅读量:</span>
                <span class="leancloud-visitors-count"></span>
            </span>`
            visitorsTag.innerHTML = str;
            dateTag.parentNode.appendChild(visitorsTag);
        }
    }
}
</script>
<style>
.vpanel {
    border-color: #eaecef;
    background: rgba(27, 31, 35, 0.05);
    border-radius: 0.25rem;
}
.vcard .vcontent{
    margin-top: 1rem;
}
.vcard .vcontent p{
    background: rgba(27, 31, 35, 0.05);
    padding: 0.75rem;
    border-radius: 0.25rem;
}
.leancloud-visitors {
    font-size: 13px;
    color: rgb(127, 127, 127);
}
.vsubmit.vbtn {
    background: #ffffff !important;
    border: 1px solid #eaecef !important;
    color: #242424 !important;
}
</style>