<template>
    <div class="tabs-container">
        <el-tabs v-model="value" :v-bind="$attrs" @tab-change="handleChange">
            <el-tab-pane
                v-for="item in tabList"
                :key="item.id"
                :label="item.title"
                :name="item.id"
            >
                <template #label>
                    <span class="tab">
                        {{ item.title }}
                    </span>
                </template>
                <!-- 这里使用具名插槽处理 -->
                <slot :name="item.name"></slot>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>

<script lang="ts" setup>
import { computed } from 'vue';

type NS = number | string;

interface ITabItem {
    title: string;
    name: string;
    id: NS;
}

interface IProps {
    value: NS;
    tabList: Array<ITabItem>
}

interface Emits {
    (e: 'update:value', value: NS): void;
    (e: 'handleChange', value: NS): void;
}

const emit = defineEmits<Emits>();

const props = withDefaults(defineProps<IProps>(), {
    value: "",
    name: "",
    tabList: () => []
});


const value = computed<NS>({
    get() {
        return props.value;
    },
    set(value: NS) {
        emit('update:value', value);
    },
});


const handleChange = (tab: NS) => {
    emit("handleChange", tab);
};
</script>

<style lang="scss">
.tabs-container {
    .el-tabs__active-bar {
        height: 3px;
    }
    .el-tabs__nav-wrap::after {
        height: 1px;
        background-color: #F2F3F5;
    }
    .tab {
        padding: 0 5px;
    }
}
</style>